<footer class="footer bg-main overflow-hidden p-5 text-white">
  <div class="container">
    <div class="row offset-1">
      <div class="col-lg-4">
        <div class="item  ">
          <h5 class="">LOCATION</h5>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item  ">
          <h5 class="">AROUND THE WEB</h5>
          <ul class="list-unstyled d-flex gap-2 ">
            <li><i class="fa-brands fa-facebook mx-1 icon"></i></li>
            <li><i class="fa-brands fa-twitter mx-1  icon"></i></li>
            <li><i class="fa-brands fa-linkedin-in mx-1 icon"></i></li>
            <li><i class="fa-solid fa-globe mx-1 icon "></i></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item  ">
          <h5 class="">ABOUT FREELANCER</h5>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<p class="leae text-center p-5 mb-0 bg-copy text-white">Copyright © Your Website 2021</p>
