<section class="contact  mb-5 min-vh-100 d-flex justify-content-center align-items-center flex-column ">
  <app-main-title></app-main-title>
  <form [formGroup]="contactFrom" (ngSubmit)="test()"  class="w-50 mx-auto">
    <div class="mb-3">
      @if (contactFrom.get("userName")?.touched) {
  <label for="userName" class=" form-label">Name</label>
      }
      <input formControlName="userName" id="userName" type="text" placeholder="Enter Name" name="userName"
        class="form-control border-0 border-bottom py-3   ">
    </div>
    <div class="mb-3">
      @if (contactFrom.get("userAge")?.touched) {
        <label for="userAge" class=" form-label">userAge</label>
      }
      <input  formControlName="userAge" id="userAge" type="number" placeholder="Enter Age" name="userAge"
        class="form-control border-0 border-bottom py-3   ">
    </div>
    <div class="mb-3">
      @if (contactFrom.get("userEmail")?.touched) {
        <label for="userEmail" class=" form-label">Email</label>
      }
      <input formControlName="userEmail" id="userEmail" type="email" placeholder="Enter Email" name="userEmail"
        class="form-control border-0 border-bottom py-3   ">
    </div>
    <div class="mb-3">
      @if (contactFrom.get("userPassword")?.touched) {
        <label for="userPassword" class=" form-label">Password</label>
      }
      <input formControlName="userPassword" id="userPassword" type="password" placeholder="Enter Password" name="userPassword"
        class="form-control border-0 border-bottom py-3   ">
    </div>
    <button class="btn btn-success">Send Message</button>
  </form>
</section>
