<section class="about mt-5 p-5 min-vh-100 d-flex justify-content-center align-items-center flex-column">

  <app-main-title></app-main-title>
  <div class="container">
    <div class="row g-4 mb-5">
      <div class="col-md-6 col-lg-4">
        <div class="position-relative">
          <img #demo src="./assets/images/poert1.png" class="w-100  " alt="img1">
          <!-- <div class="layer position-absolute start-0 end-0 bottom-0  top-0  d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="position-relative">
          <img #demo  src="./assets/images/port2.png" class="w-100  " alt="img2">
          <!-- <div class="layer  position-absolute start-0 end-0 bottom-0 top-0  d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div> -->
        </div>
      </div>
      <div  class="col-md-6 col-lg-4">
        <div  class="position-relative ">
          <img  #demo src="./assets/images/port3.png" class="w-100  " alt="img3">
          <!-- <div class="layer position-absolute start-0  top-0 w-100 h-100  d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div> -->
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="position-relative">
          <img #demo   src="./assets/images/poert1.png" class="w-100  " alt="img1">
          <div class="layer_hover position-absolute start-0 end-0 bottom-0  top-0  d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="position-relative ">
          <img #demo src="./assets/images/port2.png" class="w-100  " alt="img2">
          <div class="layer_hover position-absolute start-0 end-0 bottom-0  top-0  d-flex justify-content-center align-items-center">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
            <div class="col-md-6 col-lg-4">
              <div class="position-relative ">
                <img #demo src="./assets/images/port3.png" class="w-100  " alt="img3">
                <div
                  class=" layer_hover position-absolute start-0 end-0 bottom-0  top-0  d-flex justify-content-center align-items-center">
                  <i class="text-white fa-solid fa-plus fa-6x"></i>
                </div>
              </div>
            </div>
    </div>
  </div>
  <div  #myLayer class=" position-fixed mt-5 top-0 bottom-0 start-0 end-0 bg-dark bg-opacity-50 d-none d-flex justify-content-center align-items-center">
    <img #bgImage src="" class="w-50" alt="modalImage">
  </div>
  </section>
